body {
    font-family: Georgia, serif;
  }
  
  .title p {
    font-family: Georgia, serif;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    background: #7be9d3;
    color: #333;
    font-size: 30px;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: Georgia, serif;
    text-align:right;
  }

  .dropbtn a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .dropdown {
    overflow: hidden;
    background-color: #333;
    font-family: Georgia, serif;
    text-align: center;
    top: 0;
    width: 100%;
    display: inline-block;
  }

  .dropdown a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align:right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block; font-family: Georgia, serif;}
  
  .dropdown:hover .dropbtn {background: #ddd; color: black;}

  .dropdown:hover a {background: #ddd; color: black;}